@using CustomMembership
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/semantic-component")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/menu-slider.css" rel="stylesheet" />
</head>
<body>
    @{
        var identity = User.Identity as CustomIdentity;
    }
    <div class="ui stackable menu navbar">

        <div class="account-icon" onclick="openNav('left')">
            <div class="nav-profile-picture">
                <img class="user-picture" @*src="@identity.ProfilePictureUrl"*@ />
            </div>
            <div class="menu-trigger">
                <span class="nav-user-name">@identity.FullName</span>
                <i class="angle large down icon"></i>
            </div>
        </div>

        <div id="side-nav-left" class="sidenav-left left-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav('left')">&times;</a>
            @* ADD HERE ITEMS IN MENU *@
            <div class="profile-details">
                <div class="profile-picture-container">
                    <img class="user-picture" @*src="@identity.ProfilePictureUrl"*@ />
                </div>
                <span class="user-name">@identity.FullName</span>
            </div>
            <div class="action-buttons">
                @Html.ActionLink("User List", "Index", "Home")
                @Html.ActionLink("Friend List", "Index", "Home")
                @Html.ActionLink("Contacts", "Index", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>

        <div class="item home-icon">
            <img src="~/Content/img/logo/logo1.png">
        </div>

        <div id="side-nav-right" class="sidenav-right right-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav('right')">&times;</a>
            <div class="action-buttons">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Food Suplies", "Index", "Food")
                @Html.ActionLink("Exercises", "Index", "Exercises")
                @Html.ActionLink("Meal Plans", "Index", "Meal")
                @Html.ActionLink("Training Schedule", "Index", "Home")
                @Html.ActionLink("About", "Index", "Home")
            </div>
        </div>

        <i class="list big ul icon right-menu-icon" onclick="openNav('right')"></i>
    </div>



    <div class="body-content">

        <div class="ui segment loading-container" style="display: none;">
            <p></p>
            <div class="ui active dimmer">
                <div class="ui loader huge"></div>
            </div>
        </div>

        <div class="ui negative message error-message" style="display: none;">
            <i class="close icon"></i>
            <div class="header">
                We're so sorry!
            </div>
            <p>An error has ocurred. Please try again later</p>
        </div>

        <div class="ui success message success-message" style="display: none;">
            <i class="close icon"></i>
            <div class="header">
                Ha Ha!
            </div>
            <p>You may now log-in with the username you have chosen</p>
        </div>

        @RenderBody()

        <footer class="footer"></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic-component")
    <script src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/ajaxHelper.js"></script>
    <script src="~/Scripts/knockout-3.5.0.js"></script>
    <script src="~/Scripts/Utils.js"></script>
    <script src="~/Scripts/CustomBindings/Ko.SemanticDropdown.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        /* Set the width of the side navigation to 250px */
        function openNav(leftOrRight) {
            if (leftOrRight === 'left') {
                document.getElementById("side-nav-left").style.width = "250px";
            }
            else if (leftOrRight === 'right') {
                document.getElementById("side-nav-right").style.width = "250px";
            }
        }

        /* Set the width of the side navigation to 0 */
        function closeNav(leftOrRight) {
            if (leftOrRight === 'left') {
                document.getElementById("side-nav-left").style.width = "0";
            }
            else if (leftOrRight === 'right') {
                document.getElementById("side-nav-right").style.width = "0";
            }
        }
    </script>
</body>
</html>
