@using CustomMembership
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/semantic-component")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/menu-slider.css" rel="stylesheet" />
</head>
<body>
    <div class="ui stackable menu navbar">

        <div class="account-icon" onclick="openNav()">
            <div class="nav-profile-picture">

            </div>
            <div class="menu-trigger">
                <span class="nav-user-name">@User.Identity.Name</span>
                <i class="angle large down icon"></i>
            </div>
        </div>

        <div id="mySidenav" class="sidenav left-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            @* ADD HERE ITEMS IN MENU *@
            <div class="profile-details">
                <div class="profile-picture-container">

                </div>
                <span class="user-name">@User.Identity.Name</span>
            </div>
            <div class="action-buttons">
                @Html.ActionLink("User List", "Index", "Home")
                @Html.ActionLink("Friend List", "Index", "Home")
                @Html.ActionLink("Contacts", "Index", "Home")
                @Html.Partial("_LoginPartial")
            </div>

        </div>

        <div class="item home-icon">
            <img src="~/Content/img/logo/logo1.png">
        </div>
    </div>

    <div class="container body-content">
        <div class="ui segment loading-container" style="display: none;">
            <p></p>
            <div class="ui active dimmer">
                <div class="ui loader huge"></div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer class="footer"></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic-component")
    <script src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/ajaxHelper.js"></script>
    <script src="~/Scripts/knockout-3.5.0.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>
