@using EHealth.Models;
@model RegisterViewModel

@{
    Layout = null;
}

<div class="login-container">
    <div class="form-container">
        @using (Html.BeginForm("RegisterAdmin", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row-entry">
                <label class="entry-label">Email</label>
                <div class="ui input fluid entry-input">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email-input" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row-entry">
                <label class="entry-label">Password</label>
                <div class="ui input fluid entry-input">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password-input" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row-entry" style="padding-bottom: 40px;">
                <label class="entry-label">Confirm Password</label>
                <div class="ui input fluid entry-input">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirm-password-input" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="action-container" style="margin-top: 20px">
                <button type="submit" class="ui fluid button green register-button">Register</button>
            </div>
        }
    </div>
</div>