@model Cube.Mlm.Models.ForgotPasswordViewModel
@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="clearfix entity-container  login-container" id="forgot-container">

    @using (Html.BeginForm(MVC.Account.ActionNames.ForgotPassword, MVC.Account.Name, new
    {
        ViewBag.ReturnUrl
    }, FormMethod.Post, new
    {
        @class = "form-horizontal",
        id = "login-form-forgot",
        role = "form"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new
        {
            @class = "text-danger"
        })

        <div class="entity-column margin-top-20">
            <div class="app-logo"> <img src="@Url.Content("/images/logo-blue.png")" /></div>
            <div class="row-entry margin-top-20">
                @Html.TextBoxFor(m => m.EmailForgot, new
                {
                    @placeholder = "Email",
                    @class = "form-control",
                })
                @Html.ValidationMessageFor(m => m.EmailForgot, "", new
                {
                    @class = "text-danger"
                })
            </div>

            <div class="margin-top-30">
                <input type="button" id="forgotpassword-input" class="forgot-password-button" value="Forgot Password" onclick="loginModule.forgotPassword();" />
            </div>
            <div class="margin-top-10 margin-bottom-10">
                <a href="#" class="forgot-password" onclick="loginModule.openLogin();">Back to Login</a>
            </div>
        </div>
    }
</div>


